body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
}

#map {
    height: 100vh;
    width: 80vw;
}

#map-control-panel{
    padding: 10px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin: 5px;
}